
@import './commonStyles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 240 10% 4%;
  --background: 0 0% 100%;
  --primary: 159 94% 54%;
  --primary-foreground: 240 10% 4%;
}

.dark {
  --foreground: 0 0% 100%;
  --background: 240 10% 4%;
}

body {
  font-family: 'Inter', sans-serif;
}

.mode-creative {
  /* Additional styling for creative mode */
}

.mode-academy {
  /* Additional styling for academy mode */
}
